

.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}
.calendarBox{

    height: 50px;
    width: 7.14vw;
}
.calendarContainer{
    width: 50vw;
}

.eventOnDate{
    color: gold;
}
.eventContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    position:fixed;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.472);
    height: 100vh;
    width: 100vw;
    /* opacity: 50%; */
    top:0;
    left: 0;
}
.event{
    border-radius: 10px;
    height: 50vh;
    width: 50vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.fit-content{
    height: fit-content;
    width: fit-content;
}
.space-between{
    justify-content: space-between;
}

.blackText{
    color:black
}
.col{
    flex-direction: column;
}
.contentCenter{
    justify-content: center;
    align-items: center;
}
.hvrBtn{
    text-decoration: none;
    border: none;
    transition: .8s;
    background-color: inherit;
}
.hvrBtn:hover{
    color: wheat
}

.listed{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 60vh;
    transform-style: preserve-3d;
    transform: perspective(2000px) rotateY(0deg);
    transition: transform
     .4s;
    animation: animate .9s 1;
}

@keyframes animate {
    0%{
        transform: perspective(2000px) rotateY(0deg);
    }
    100%{
        transform: perspective(2000px) rotateY(calc(360*4deg));
    }
}

.weeklyView{
    align-self: center;
    width: 22vw;
    height: 25vw;
    /* padding-left: 100px; */
    margin: 0px 20px 0px 20px;
    position: absolute;
    background-color: aqua;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--index) * calc(360deg/var(--length)))) translateZ(400px) ;
    overflow: hidden;
}
.hide{
    display: none;
}

.viewSwitch{
    width: 22vw;
    justify-content: space-between;
}

/* icons */
.dot{
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border: 1.5px solid;
    border-radius: 10px;
    transition: .5s;
}
.dot:hover{
    background-color: black;
}

.gg-arrow-right-o {
    box-sizing: border-box;

    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 15px;
    transition: .5s;
    background-color: transparent;
}
.gg-arrow-right-o::after,
.gg-arrow-right-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 4px
}
.gg-arrow-right-o::after {
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 6px;
    
}
.gg-arrow-right-o::before {
    width: 10px;
    height: 2px;
    bottom: 8px;
    background: currentColor;
}
.gg-arrow-right-o:hover{
    color:yellowgreen;
    box-shadow:0px 0px 5px black,inset 0px 0px 1.5px
}