/* General  */
:root{
  --bg: #242526;
  --bg-accent: #48414d;
  --text-color: white;
  --nav-size: 100px;
  --border: 1px solid #47414d;
  --border-radius: 8px;
  --speed: 500ms
}
ul{
  list-style: none;
  margin:0;
  padding:0;
}
  /* navigation bar */

  .navBar{
    z-index: 1;
    color: #59769e;
    width: 100%;
    position: fixed;
    display: flex;
    /* flex-direction: row; */
    /* background-color: #ded7cdFF; */
    /* background-color: transparent; */
    /* background-color: #ded7cd; */
    transition: .4s;
  }

  .navItem{
    padding: 0px 18px 0px 18px;
    height: fit-content;
  } 
  .navItem:hover{
    font-weight: 500;
  }

  .navSubContainer{
    padding-right: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .navSubItem p{
    margin: 0px;
  }

  .navSubItem{
     z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* background-color: #ded7cd; */
    width: 100px;
    opacity: 0%;
    visibility: hidden;
    transition: all .35s;
    transform: translateY(-40%);
  }
  #aboutSubDiv{
    translate:-10px
  }
  #eventsSubDiv,#watchSubDiv{
    translate:-15px
  }
 
  .navSubItem button{
    outline: none;
    border: none;
    background-color: inherit;
    position: relative;
    font-size: 16px;
    color:#59769e;
    padding: 5px 25px 5px 25px;

  }
  .navSubItem button:hover{
    font-weight: 900;
  }
  .disappear{
    transform: translateY(0%);
    visibility: visible;
    opacity: 98%;
  }
  .image-container img{
    transform: scale(.15);
    translate: -500px -575px;
  }
  .image-container{
    width: 200px;
    height: 51px;
    overflow: hidden;
  }

 


 /* -- Layout -- */ 

  /* join section */

  .joinSection > h3,p{
    display: flex;
    justify-content: center;
  }
  .joinSection{
    padding: 30px 0px 30px 0px;
  }
  .joinSection button{
    padding: 0px 30px 0px 30px;
    background-color: rgb(179, 153, 119);
    border-color: rgb(179, 153, 119) ;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    outline:none;
    transition:.3s;
  }
  .joinSection button:hover{
    background-color: rgb(124, 106, 83);
    border-color:rgb(124, 106, 83);
  }
  
 .container {
   width: 100%;
 }

 .ImgDiv{ 
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./images/churchPhoto.jpg");
  filter: blur(2px) grayscale(75%);
  top: 150px;
  width: 100%;
  height: 820px;
 }

 .welcome{ 
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 150px;
  color: black;
  justify-content: flex-start;
  width: 1000px;
}
.welcome h1:nth-child(-n + 2){
  margin: 0px 0px 0px 40px;
  color: #ded7cd;
  display: flex;
  justify-self: flex-start;
  font-size: 50px;
  font-family: cursive;
}
.cross{
  margin: 0px 0px 0px 40px;
  color: #59769e;
  display: flex;
  justify-self: flex-start;
  font-size: 100px;
  font-family: cursive;
  height: fit-content;
  width: fit-content;
}
.welcome h4{
  margin: 0px 0px 0px 40px;
  color: #ded7cd;
  display: flex;
  justify-self: flex-start;
  font-size: 20px;
  font-family: cursive;
  height: fit-content;
  width: fit-content;
}

  /* Body */

.Double{
  margin: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 }
 .item-1{
   flex: 1;
   padding: 10px;
  
 }
 .item-2{
   flex: 1;
   padding: 10px;
 }
 .img{
   width: 100%;
   height: 100%;
   align-items: stretch;
   justify-content: center;
 }

  /* Event Component */

  .eventComponent{
    height: 500px;
    background-color: #47414d;
    display: flex;
  }


  /* footer */

  .footer{
    background-color: black;
    display: flex;
    padding: 0px 50px 0px 50px;
  }

  .footerLogo{
    width: 150px;
    height: 51px;
    overflow: hidden;

  }

  .footerLogo img{
    transform: scale(1.3);
    height: fit-content;
    width: 100%;
    translate: 0px -40px;
  }
  .copyright{
    color:white;
    font-size: 10px;
    display: flex;
    flex-direction: row;
  }


  .socialMedia{
    font-size: 25px;
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .reach p{
    margin:0;
  }